<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Provizyon alma test ekranı</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
<div class="container">

    <form method="post" th:action="@{/preauth}" th:object="${provisionRequest}">
        <div class="row">
            <div class="col">
                <h3 class="title">Provision</h3>



<!--                <div class="inputBox">-->
<!--                    <label for="cardPan">-->
<!--                        Credit Card Number:-->
<!--                    </label>-->
<!--                    <input type="text" th:value="${provisionRequest.cardPan}" id="cardPan"-->
<!--                           name="cardPan"-->
<!--                           placeholder="1111-2222-3333-4444"-->
<!--                           maxlength="19" required>-->
<!--                </div>-->

<!--                <div class="inputBox">-->
<!--                    <label for="cardExpiry">-->
<!--                        ExpirationDate-->
<!--                    </label>-->
<!--                    <input type="text" th:value="${provisionRequest.cardExpiry}" id="cardExpiry"-->
<!--                           name="cardExpiry"-->
<!--                           placeholder="01/2024"-->
<!--                           maxlength="19" required>-->
<!--                </div>-->

<!--                <div class="inputBox">-->
<!--                    <label for="cvv">CVV</label>-->
<!--                    <input type="number" th:value="${provisionRequest.cvv}" id="cvv"-->
<!--                           name="cvv"-->
<!--                           placeholder="1234" required>-->
<!--                </div>-->
<!--            </div>-->

        </div>


        <input type="submit" value="Open Provision"
               class="submit_btn">
    </form>

</div>
</body>
</html>