<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Provizyon alma test ekranı</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
<div class="container">

    <form method="post" th:action="@{/preauth}" th:object="${provisionRequest}">
        <div class="row">
            <div class="col">
                <h3 class="title">Provision</h3>
            </div>
        </div>
        <input type="submit" value="Open Provision"
               class="submit_btn">
    </form>
</div>
</body>
</html>